[Unit]
Description=Periodic maintenance tasks for home-stuff services
Wants=regular-maintenance.timer

[Service]
ExecStart=/home/admin/config/scripts/regular-maintenance.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
